.Hrinput {
text-align: center;
width: 50px ;
margin: 10px;
}

.Mininput {
margin: 10px;
text-align: center;
width: 50px ;
}

.Zoneinput {
margin: 10px;
}

.Zoneinput2 {
margin: 10px;
}

.Newtimeout{
font-size: 18px;
}

option{
text-align: center;
}

.Convertbtn{
	
}